@media (max-width: 1360px) {
  .caixa {
    padding: 10px 50px 20px 50px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .descr {
    font-size: 1.15rem;
  }
}

@media (max-width: 1210px) {
  .caixa {
    width: 50%;
    height: 40%;
  }

  .caixa-menor {
    width: 70%;
  }
}

@media (max-width: 885px) {
  h1 {
    font-size: 2.1rem;
  }

  .descr {
    font-size: 1rem;
  }

  .subtexto {
    font-size: 0.9rem;
  }
}

@media (max-width: 570px) {
  .alerta-mobile {
    display: block;
    position: absolute;
    padding-top: 25%;
    z-index: 99;
  }
  body {
    overflow: hidden;
  }
}